<%- include("./head.ejs"); %>
    <body> 
        <div class="table-responsive-sm"> 
            <table class="table table-striped table-sm"> 
                <thead> 
                    <tr> 
                        <th> CPF </th> 
                        <th> Nome </th> 
                        <th> Cargo </th> 
                        <th> Empresa </th> 
                        <th> Email </th> 
                        <th> Senha </th> 
                        <th> Numero </th> 
                        <th> Unidade da Saude </th> 
                        <th class="d-print-none"> 
                            <a class="btn btn-sm btn-success" href="/inserirPessoa">Cadastra novo registro</a> 
                        </th> 
                    </tr> 
                </thead> 
                <tbody> 
                    <% for (const mestre of dados) { %> 
                    <tr> 
                        <td> <%= mestre.CPF %> </td> 
                        <td> <%= mestre.Nome %> </td> 
                        <td> <%= mestre.Cargo %> </td> 
                        <td> <%= mestre.Empresa %> </td> 
                        <td> <%= mestre.Email %> </td> 
                        <td> <%= mestre.Senha %> </td> 
                        <td> <%= mestre.Numero %> </td> 
                        <td> <%= mestre.UnidadedaSaude %> </td> 
                        <td class="d-print-none"> 
                            <a class="btn btn-sm btn-info" href="/inserirTelefone/<%= mestre.IdPessoa %>/<%= mestre.IdTelefone %>">Inclui</a> 
                            <a class="btn btn-sm btn-warning" href="/editar/<%= mestre.IdPessoa %>/<%= mestre.IdTelefone %>">Edita</a> 
                            <a class="btn btn-sm btn-danger" href="/delete/<%= mestre.IdPessoa %>/<%= mestre.IdTelefone %>">Deleta</a> 
                        </td> 
                    </tr> 
                    <%} %> 
                </tbody> 
            </table> 
        </div> 
    </div> 
    </div> 
    </body> 
    <footer> 
        <p>&copy; 2025 </p> 
    </footer> 
</html>