<%- include("./head.ejs"); %>
<h4>Deletar este Telefone (Detalhe)?</h4> 

<form action="/delete/<%= dados.IdTelefone %>" method="post"> 
    <div class="form-horizontal"> 
    </div>   
    
    <div class="form-group">     
      <label>Nome</label>    
      <input type="text" class="form-control form-control-sm" value="<%= dados.Nome %>" readonly>    
    </div>   
    <div class="form-group">     
      <label>CPF</label>    
      <input type="text" class="form-control form-control-sm" value="<%= dados.CPF %>" readonly>    
    </div>   

    <div class="card-header">     
        <ul class="nav nav-pills w-100">     
            <li class="nav-pill active">     
                <h4>Telefone a ser deletado</h4>     
            </li>     
        </ul>     
    </div>    
    <div class="form-group">   
        <label>IdTelefone</label>    
        <input class="form-control" type="text" name="IdTelefone" value="<%= dados.IdTelefone %>" readonly/>   
    </div>
    <div class="form-group">   
        <label>Numero</label>    
        <input class="form-control" type="text" name="Numero" value="<%= dados.Numero %>" readonly/>   
    </div>
    <div class="form-group">   
        <label>Unidade da Saude</label>    
        <input class="form-control" type="text" name="UnidadedaSaude" value="<%= dados.UnidadedaSaude %>" readonly/>   
    </div>

    <div class="form-group">   
        <input type="submit" value="Deletar este Telefone" class="btn btn-sm btn-dark" />  
        <a href="/pessoas" class="btn btn-outline-primary btn-sm">Voltar</a>     
    </div>  
</form> 
  
<div class="form-group" style="margin-top: 30px; border-top: 1px solid #eee; padding-top: 20px;">   
    <a class="btn btn-danger btn-sm" 
       onclick="return confirm('Tem certeza de APAGAR a Pessoa e TODOS os seus Telefones relacionados?');"  
       href="/deletaTodos/<%= dados.IdPessoa %>">
       Deletar Pessoa e todos os detalhes
    </a>    
</div> 
 
<footer>  
    <p>&copy; 2025 </p>  
</footer>  
</div>  
</body>     
</html>