<%- include("./head.ejs"); %>
    
<form action="/inserirPessoa" method="post"> 
    <h4>Dados da Pessoa (Mestre)</h4>
    <div> 
        <label for="CPF">CPF</label> 
        <input type="text" name="CPF" class="form-control" value="<%= dados.CPF %>"> 
    </div> 
    <div> 
        <label for="Nome">Nome</label> 
        <input type="text" name="Nome" class="form-control" value="<%= dados.Nome %>"> 
    </div> 
    <div> 
        <label for="Cargo">Cargo</label> 
        <input type="text" name="Cargo" class="form-control" value="<%= dados.Cargo %>"> 
    </div> 
    <div> 
        <label for="Empresa">Empresa</label> 
        <input type="text" name="Empresa" class="form-control" value="<%= dados.Empresa %>"> 
    </div>
    <div> 
        <label for="Email">Email</label> 
        <input type="email" name="Email" class="form-control" value="<%= dados.Email %>"> 
    </div>
    <div> 
        <label for="Senha">Senha</label> 
        <input type="password" name="Senha" class="form-control" value="<%= dados.Senha %>"> 
    </div>
    <br> 
    
    <h4>Primeiro Telefone (Detalhe)</h4> 
    <div> 
        <label for="Numero">Numero</label> 
        <input class="form-control" type="text" name="Numero" value="<%= dados.Numero %>" /> 
    </div> 
    <div> 
        <label for="UnidadedaSaude">Unidade da Saude</label> 
        <input class="form-control" type="text" name="UnidadedaSaude" value="<%= dados.UnidadedaSaude %>" /> 
    </div> 
    <br> 
    <input class="btn btn-primary" id="button1" type="submit" name="btInserirPessoa" value="Inserir" /> 
    <a href="/pessoas" class="btn btn-outline-primary btn-sm">Voltar</a> 
</form> 
<body> 
</div> 
</div> 
</div> 
</body> 
<footer> 
    <p>&copy; 2025</p> 
</footer> 
</html>